@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
  font-family:'Open Sans'
}

button {
  all:unset;
  border:1px solid black;
  border-radius:3px;
  padding:5px;
  cursor: pointer;
}

button:hover {
  background-color: #0098db;
  color:white;
  transition: 0.25s;
}

.App {
  width:fit-content;
  margin:auto;
}

.Nav {
  margin-top:-1em;
  margin-bottom:-2em;
  display:flex;
  align-items:center;
  gap:10px;
}

.Nav img {
  height: 7em;
}

.Nav p {
  font-size:3em;
}


.Entry, .Select {
  border:1px solid black;
  border-radius:5px;
  padding:10px;
  width:30em;
  margin-top:1em;

}

.Entry h2, .Select h2 {
  margin:0;
  margin-bottom:10px;
  display:flex;
  align-items: center;
  gap:5px;
}

.Program {
  margin-top:0.5em;
  padding-bottom:5px;
  border-bottom:1px solid black;
}

.form-controls {
  display: flex;
  gap:10px;
}